# Secrets
backend/.env
.env
.env.local
.env.production

# SSL private keys
ssl/*.pem
ssl-status/*.pem

# Database dumps
dump.sql
dump_fixed.sql
*.sql

# Node modules
node_modules/
*/node_modules/

# Docker volumes
postgres_data/
nezha/data/

# IDE
.vscode/
.idea/
.env

frontend/dist
frontend/package.json
fronrend/package-lock.json
