
backend/.env
# Database dumps
# Docker volumes
dump_fixed.sql
dump.sql
.env
.env.local
.env.production
fronrend/package-lock.json
frontend/dist
frontend/package.json
# IDE
.idea/
nezha/data/
nginx/nginx.conf
*/node_modules/
node_modules/
# Node modules
postgres_data/
# Secrets
*.sql
ssl/*.pem
# SSL private keys
ssl-status/*.pem
.vscode/
