/* src/styles/variables.css */
/*Здесь будут храниться только дизайн-токены, цвета и переменные нашей неоновой темы.*/

:root {
  /* 🌟 ПЕРЕВЕЛИ НА ФИРМЕННЫЙ DEEP DARK СЕТАП */
  --primary-color: #38bdf8; /* Наш сочный неоновый синий */
  --secondary-color: #0ea5e9; /* Глубокий синий для градиентов */
  --bg-color: #020617; /* Ультра-тёмный фон (черный космос) */
  --card-bg: #0f172a; /* Deep dark плашка для карточек */
  --text-main: #f8fafc; /* Практически белый основной текст */
  --text-muted: #64748b; /* Приглушенный серый */
  --accent-color: #10b981; /* Зеленый для успешных штук */
  --danger-color: #ef4444; /* Красный для ошибок */
  --shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5);
}
